* {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

h1 {
	margin-top: 10px;
	font-size: 42px;
}

span {
	font-weight: 700;
	color: red;
}

li {
	margin-bottom: 5px;
}

p {
	text-align: center;
	margin: 50px auto;
}

@media(max-width: 582px) {
	li {
		text-align: left;
		margin-left: 10px;
	}
}

@media(max-width: 375px) {
	h1 {
		font-size: 34px;
	}
}

@media(max-width: 324px) {
	h1 {
		font-size: 28px;
	}
}
